@import (reference) '~antd/es/style/themes/index';

.card {
  width: 200px;
  border: none;
  cursor: pointer;

  :global {
    .ant-card-body {
      margin: 14px 0 0 0;
      padding: 7px;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      border: 2px solid rgb(240, 240, 240);
      border-radius: 2px;
    }
  }
}
