@import (reference) '~antd/es/style/themes/index';

.segment {
  position: relative;
  display: flex;
  background-color: #fafafa;

  .mainStage {
    width: 100%;
    background-color: gray;
  }
  .rightSideBar {
    width: 280px;
    border-left: 4px solid #ddd;
  }
}
