@import (reference) '~antd/es/style/themes/index';

.container {
  width: 100%;
  padding: 1.25rem 2.5rem 1.875rem;
  background-repeat: no-repeat;
  background-size: cover;
}

:global {
  .ant-pro-basicLayout-content {
    display: flex;
    margin: 0;
  }
}
